<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gdańsk</key>
	<string>sea.png</string>
	<key>Klifowo</key>
	<string>moutain.png</string>
	<key>Bydgoszcz</key>
	<string>city.png</string>
	<key>Barycz</key>
	<string>city.png</string>
</dict>
</plist>
